.Right-side
  .Right-side__header
    .Right-side__group
      .Right-side__groupName 
        = @group.name
      %ul.Right-side__memberList
        MEMBER：
        
        %li.Right-side__member
          - @group.users.each do |user|
            = user.name
    .Right-side__edit-btn
      = link_to edit_group_path(@group) do 
        Edit

  .Right-side__main-list
    = render @messages

  .footer-foom
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__input-box
        = f.text_field :content, class: 'Form__input-box__message', placeholder: 'type a message'
        = f.label :image, class: 'Form__input-box__image' do
          = icon('far', 'image', class: 'Form__image_icon')
          = f.file_field :image, class: 'Form__input-box__image__list'
      = f.submit 'Send', class: 'Form__submit-btn'   