.Left-side
  .Left-side__header
    .Left-side__items-room
      %h3.items-room__name 
        タクヤ
      %ul.items-room__icon 
        = link_to "#", class: "Left-side__btn" do
          = icon('far', 'edit', class: "Left-side__btn--edit")
        = link_to "#", class: "Left-side__btn" do
          = icon('fas', 'cog',class: "Left-side__btn--cog")
  .Left-side__main-list
    .Left-side__chat-room
      = link_to "#", class: "Left-side__btn" do
        .Left-side__group お肉
        .Left-side__message 美味しい
    .Left-side__chat-room
      = link_to "#", class: "Left-side__btn" do
        .Left-side__group 野菜
        .Left-side__message 美味しい
    .Left-side__chat-room
      = link_to "#", class: "Left-side__btn" do
        .Left-side__group お魚
        .Left-side__message 美味しい
