.Left-side
  .Left-side__header
    .Left-side__items-room
      %h3.items-room__name 
        = current_user.name
      %ul.items-room__icon 
        = link_to new_group_path do
          = icon('far', 'edit', class: "Left-side__btn--edit")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog',class: "Left-side__btn--cog")
  .Left-side__main-list
    - current_user.groups.each do |group|
      .Left-side__chat-room
        = link_to group_messages_path(group) do
          .Left-side__group 
            = group.name
          .Left-side__message
            = group.show_last_message